<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/header :: head">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link"  th:href="@{/welcome}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle"th:href="@{/books}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Books
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/books}">All Books</a>
                            <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:method="get" th:href="@{/books/type/Available}">Available</a>
                                <a class="dropdown-item" th:method="get" th:href="@{/books/type/Unavailable}" >Unavailable</a>
                                <a class="dropdown-item" th:method="get" th:href="@{/books/type/Up-comming}">Up-comming</a>
                            <div class="dropdown-divider"></div>
                            <form action="#"  th:method="get">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ModelAdd" data-whatever="@mdo"  >Add New Book</a>
                            </form>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customers}">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/rents}">Rents</a>
                    </li>

                </ul>

                <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/books/search}" th:method="get">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search By Name" name="search" aria-label="Search" >
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="container" style="padding-top: 200px">

            <table class="table table-dark">

                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price per day</th>
                    <th scope="col">Status</th>
                    <th scope="col">Update</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="bookData : ${bookDatas}" >
                    <td th:utext="${bookDatas.indexOf(bookData)+1}"></td>
                    <td th:utext="${bookData.id}"></td>
                    <td th:utext="${bookData.name}"></td>
                    <td th:utext="${bookData.price}+'$'"></td>
                    <td th:utext="${bookData.bookStatus}"></td>
                    <td>
                        <form th:action="@{/books/getbyid}" th:method="get">
                            <button class="btn btn-outline-secondary" type="submit"  name="edit" th:value="${bookData.id}" data-toggle="modal" data-target="#ModelEdit" data-whatever="@mdo"
                                    th:disabled="((${bookData.bookStatus.equals('Available') || bookData.bookStatus.equals('Up-comming') })?false:true)" >Edit</button>
                        </form>
                        <form th:action="@{/books}" th:method="delete">
                            <button type="submit" class="btn btn-outline-secondary"
                                    th:value="${bookData.id}" name="bookId" th:disabled="((${bookData.bookStatus.equals('Available')||bookData.bookStatus.equals('Up-comming')})?false:true)" >Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>

        <!-- Modal Add-->
        <div class="modal fade" id="ModelAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Book</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/books}" th:method="post"  th:object="${newBook}">
                    <div class="modal-body">

                            <div class="form-group">
                                <label  class="col-form-label">Book Name:</label>
                                <input type="text" class="  form-control"  name="name" >
                            </div>
                            <div class="form-group">
                                <label  class="col-form-label">Price per day:</label>
                                <input type="text" class="form-control" name="price"  >
                            </div>
                            <div class="form-group">
                                <label  class="col-form-label">Category:</label>
                                <input type="text" class="form-control"  name="category" >
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input"  type="radio" name="bookStatus" id="inlineRadio1"  th:value="Available">
                                <label class="form-check-label" for="inlineRadio1">Available</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input"  type="radio" name="bookStatus" id="inlineRadio2" th:value="Up-comming">
                                <label class="form-check-label" for="inlineRadio2">Up-comming</label>
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
<script th:inline="javascript" type="text/javascript">

</script>
</html>