<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link"  th:href="@{/welcome}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " th:href="@{/books}">Books</a>
            </li>
            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle"th:href="@{/customers}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Customer
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/books}">All Customer</a>
                    <div class="dropdown-divider"></div>
                    <form action="#"  th:method="get">
                        <a class="dropdown-item" th:href="@{/books/under/100}"  >Not Returned</a>
                        <a class="dropdown-item" th:href="@{/books/under/200}"  >Return</a>
                    </form>
                    <div class="dropdown-divider"></div>
                    <form action="#"  th:method="get">
                        <a class="dropdown-item" th:href="@{/books/under/100}"  >Register</a>
                    </form>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/rents}">Rents</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/customers/search}" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search By Name" aria-label="Search" name="search" th:value="${search}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

        <div class="container"  style="padding-top: 200px">

            <table class="table table-dark">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Renting</th>
                    <th scope="col">Status</th>
                    <th scope="col">Update</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="customer_data : ${customer_datas} ">
                    <td th:utext="${customer_datas.indexOf(customer_data)+1}"></td>
                    <td th:utext="${customer_data.getId()}"></td>
                    <td th:utext="${customer_data.getName()}"></td>
                    <td th:utext="${customer_data.getAddress()}"></td>
                    <td th:utext="${customer_data.getPhone()}"></td>
                    <td th:utext="${customer_data.getEmail()}"></td>
                    <td th:utext="${customer_data.getNumberofrent()}"></td>
                    <td th:utext="((${customer_data.isStatus()})?'Banned':'')"></td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary">Edit</button>
                        <button type="button" class="btn btn-outline-secondary">Ban</button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>


</body>
</html>