<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link"  th:href="@{/welcome}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " th:href="@{/books}">Books</a>
                </li>
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle"th:href="@{/customers}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Customer
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/customers}">All Customer</a>
                        <div class="dropdown-divider"></div>
                        <form action="#"  th:method="get">
                            <a class="dropdown-item" th:href="@{/customers/return/is_renting}"  > Renting</a>
                            <a class="dropdown-item" th:href="@{/customers/return/not_renting}"  > Not Renting</a>
                        </form>
                        <div class="dropdown-divider"></div>
                        <form action="#"  th:method="get">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ModelAdd" data-whatever="@mdo" >Register</a>
                        </form>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/rents}">Rents</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/customers/search}" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search By Name" aria-label="Search" name="search" >
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container"  style="padding-top: 200px">

            <table class="table table-dark">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Renting</th>
                    <th scope="col">Status</th>
                    <th scope="col">Update</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="customerData : ${customerDatas} ">
                    <td th:utext="${customerDatas.indexOf(customerData)+1}"></td>
                    <td th:utext="${customerData.id}"></td>
                    <td th:utext="${customerData.name}"></td>
                    <td th:utext="${customerData.address}"></td>
                    <td th:utext="${customerData.phone}"></td>
                    <td th:utext="${customerData.email}"></td>
                    <td th:utext="${customerData.bookRents}"></td>
                    <td th:utext="((${customerData.accountStatus})?'Banned':'')"></td>
                    <td>
                        <form th:action="@{/customers/getCustomer}" th:method="get">
                            <button type="submit" name="customerId" th:value="${customerData.id}" class="btn btn-outline-secondary">Edit</button>
                        </form>
                        <form >
                            <button type="button" th:onclick="'getId(\'' + ${customerData.id} + '\');'" th:disabled="(${customerData.accountStatus == true || customerData.bookRents ==3}?true:false)" class="btn btn-outline-secondary" data-toggle="modal" data-target="#ModelAddRent" data-whatever="@mdo">Make Rent</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    <!-- Modal Add-->
    <div class="modal fade" id="ModelAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/customers}" th:method="post"  th:object="${newCustomer}">
                <div class="modal-body">

                    <div class="form-group">
                        <label  class="col-form-label">Customer Name:</label>
                        <input type="text" class="  form-control"  name="name" >
                    </div>
                    <div class="form-group">
                        <label  class="col-form-label">Address:</label>
                        <input type="text" class="form-control" name="address"  >
                    </div>
                    <div class="form-group">
                        <label  class="col-form-label">phone:</label>
                        <input type="text" class="form-control"  name="phone" >
                    </div>
                    <div class="form-group">
                        <label  class="col-form-label">Email:</label>
                        <input type="text" class="form-control"  name="email" >
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

    <!-- Modal Add rent-->
    <div class="modal fade" id="ModelAddRent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modelrent">New Rent</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/rents}" th:method="post" name="newRent">
                    <div class="modal-body">
                        <div class="form-group">
                            <label  class="col-form-label">Book ID:</label>
                            <input type="text" class="form-control" name="bookId"  >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="customerId" name="customerId" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
<script th:inline="javascript" type="text/javascript">
    var doc = document.getElementById("customerId");
    function getId(id) {
         doc.value = id;
    }

</script>
</html>