<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head th:include="fragments/header :: head">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link"  th:href="@{/welcome}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/books}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/customers}">Customers</a>
                </li>
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle"th:href="@{/rents}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rents
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/rents}">All Rents</a>
                        <div class="dropdown-divider"></div>
                        <form action="#"  th:method="get">
                            <a class="dropdown-item" th:href="@{/rents/return/returned}">Returned</a>
                            <a class="dropdown-item" th:href="@{/rents/return/not_returned}">Not Returned</a>
                        </form>

                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:method="get" th:action="@{/rents/search}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search By Customer ID" name="customerId" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container"  style="padding-top: 200px">
        <table class="table table-dark">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">CustomerID</th>
                <th scope="col">BookID</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Pay</th>
                <th scope="col">Status</th>
                <th scope="col">Update</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rentData : ${rentDatas}">
                <td th:utext="${rentDatas.indexOf(rentData)+1}"></td>
                <td th:utext="${rentData.id}"></td>
                <td th:utext="${rentData.customerId}"></td>
                <td th:utext="${rentData.bookId}"></td>
                <td th:utext="${rentData.startDate}"></td>
                <td th:utext="${rentData.endDate}"></td>
                <td th:utext="${rentData.paid}+'$'"></td>
                <td th:utext="((${rentData.returnStatus})?'Returned':'Not returned')"></td>
                <td><form th:action="@{/rents/returnBook}" th:method="post">
                        <button type="submit" class="btn btn-outline-secondary" name="rentId" th:value="${rentData.id}" th:disabled="((${rentData.returnStatus})?true:false)">Return Update</button>
                    </form>
                    <form th:action="@{/rents}" th:method="delete">
                        <button type="submit" th:value="${rentData.id}" name="rentId" class="btn btn-outline-secondary" th:disabled="((${rentData.returnStatus})?false:true)">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>